.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right , transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right , transparent, black 75%)
}
.hero{
    position: relative;
}
.hero-caption{
    position: absolute;
    width:100% ;
    bottom: 0%;
    padding-left: 6%;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    margin-bottom: 30px;
    font-size: 16px;
}
.hero-btns{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.hero-btns .btn img{
    width: 25px;   
}
.hero-btns .btn{
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 4px;
    padding: 8px 20px;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    font-size: 15px;
    font-family: 600;
    cursor: pointer;
}
.hero-btns .dark-btn{
    color: white;
    background: #a2a2f4b3;
}
.hero-btns .btn:hover{
    background: #ffffffbf;
}
.hero-btns .dark-btn:hover{
    background: #6d6d6e66;
}
.more-cards{
    margin-left: 6%;
}
@media screen and (max-width:1024px){
    .hero-btns{
        margin-bottom: 30px;
    }

}
@media screen and (max-width:800px){
    .caption-img{

        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns .btn img{
        width: 20px;
    }
}
@media screen and (max-width:500px){
    .hero-caption img{
        display: none;
    }
    .hero-btns .btn img{
        width: 15px;
    }
    .hero-btns .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}