.footer{
    padding: 30px 4%;
    margin: 0 auto;
    max-width: 1000px;
}
.footer-icon{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
.footer-icon img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    list-style: none;
}
.footer p{
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}
@media screen and (max-width:800px) {
    .footer-icon img{
        width: 25px;
    }
    .footer      ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
}