
.title-card{
    margin-top: 20px;
    margin-left: 20px;
}
.card-list{
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;   
     transition: .7s;
}

.card img:hover{
    transform: translateY(4px);
}

.card {
    position: relative;
}
.card p{
    position: absolute;
    bottom: 10px;
    right: 30px;
    text-decoration: none;
    color: #fff;
}
.card p:hover{
    cursor: pointer;
}
.title-card h2{
    margin-bottom: 12px;
}
@media screen and (max-width:800px){
    .title-card{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-card h2{
        font-size: 20px;
    }
    .card-list img{
        width: 200px;
    }
    .card-list p{
    font-size: 12px;
    }
}
@media screen and (max-width:500px){
 
    .title-card h2{
        font-size: 15px;
    }
    .card-list img{
        width: 165px;
    }
    .card-list p{
    font-size: 10px;
    }
}